body{
    -webkit-margin-top: 0px;
       -webkit-padding: 0px;
   -webkit- background-color: wheat;
}

.img{
  -webkit-text-align: center;
 -webkit-margin-top: 8%;
  -webkit-display: flex;
  -webkit-flex-wrap: wrap;
  -webkit-margin-left: 65%;
  -webkit-transition: all 1s;
  -webkit-background-color: wheat;
  -webkit-flex-wrap: wrap;
  
}
.img:hover{
  -webkit-transform:  scale(1.1);
}
.dot{
  -webkit-text-align: center;
  -webkit-margin-left: 550px;
  -webkit-color:  rgb(141, 34, 141);
 -webkit-font-size:80px;
  -webkit-margin-top: 0px;
 -webkit-border-bottom: 2px solid plum;
  -webkit-border-right: 2px solid pink;
  -webkit-width: 390px;
  -webkit-text-align: center;
  -webkit-text-shadow:4px 4px 5px purple ;
  -webkit-box-shadow: 4px 4px 5px grey;
  
}
 
